{% extends 'base.html.twig' %}

{% block body %}

<a class="btn btn-danger my-4" href="{{ url("form") }}">Retour</a>

<div class="container mb-5">
  <div class="row">

    <div class="col-6">
      <div class="card" style="width: 36rem; position: relative;">
          <button type="button" class="btn btn-outline-light" style="position: absolute; top: 10px; right: 10px;">&#x2661;</button>
          <img class="card-img-top" src="{{poster_url}}{{movie.poster_path}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.release_date}}</p>
            <p class="card-text">{{movie.overview}}</p>
          </div>
      </div>
    </div>
      <div class="col-6 p-0">
        <h2>Actors :</h2>
        <div class="row">
          {% for actor in actors  %}
            <div class="col">
              <div class="card mx-1 mb-2" style="width: 18rem;">
                <img class="card-img-top" src="{{poster_url}}{{actor.profile_path}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{actor.name}}</h5>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
