{% extends 'base.html.twig' %}

{% block body %}

<a href="/">Retour</a>

{% for film in movie %}
        <h1>Movie: {{film.title}}</h1>
        <h2>Release date : {{film.release_date}}</h2>

        <p>Overview: {{film.overview}}</p>

        <img src="{{poster_url}}{{film.poster_path}}" alt="" width="50px">
{% endfor %}


{% endblock %}
